@using Moov2.OrchardCore.Gallery.ViewModels;
@model GalleryPartEditViewModel

@*<fieldset class="form-group">
    <div class="btn-group ">
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add Media
        </button>
        <div class="dropdown-menu">
        </div>
    </div>
</fieldset>*@

<fieldset class="form-group" asp-validation-class-for="MediaItems">
    <label asp-for="MediaItems">@T["Media"]</label>
    <input asp-for="MediaItems" class="form-control content-preview-text content-caption-text" autofocus="autofocus" />
    <span asp-validation-for="MediaItems"></span>
    <span class="hint">@T["JSON for media."]</span>
</fieldset>
