@using Etch.OrchardCore.Gallery.ViewModels;
@using OrchardCore.ResourceManagement

@model GalleryPartDisplayViewModel
@inject IResourceManager ResourceManager

@{
    if (Model.HasMediaItems) {
        ResourceManager.RegisterResource("stylesheet", "Gallery.Styles").AtHead();
        ResourceManager.RegisterResource("script", "Gallery.Scripts").AtFoot();
    }
}

@if (Model.HasMediaItems)
{
    <ul class="list list--gallery js-gallery">
        @foreach (var media in Model.MediaItems)
        {
            <li class="list__item list__item--gallery-@(media.TypeName.ToLower())">
                <a href="@media.Url">
                    <img src="@media.Thumb" title="@media.Title" alt="@media.Title" />
                </a>
            </li>
        }
    </ul>
}
