@using Moov2.OrchardCore.Gallery.ViewModels;
@model GalleryPartEditViewModel

<script asp-src="https://vuejs.org/js/vue.min.js" debug-src="https://vuejs.org/js/vue.js" asp-name="vuejs" at="Foot"></script>
<script asp-src="~/Moov2.OrchardCore.Gallery/Scripts/admin.js" asp-name="gallery" at="Foot"></script>

<fieldset class="form-group gallery">
    <div class="btn-group ">
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add Media
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item btn-sm" v-for="item in items" v-on:click="action(item)" href="javascript:;">{{item.actionLabel}}</a>
        </div>
    </div>
</fieldset>


<fieldset class="form-group" asp-validation-class-for="MediaItems">
    <label asp-for="MediaItems">@T["Media"]</label>
    <input asp-for="MediaItems" class="form-control content-preview-text content-caption-text" autofocus="autofocus" />
    <span asp-validation-for="MediaItems"></span>
    <span class="hint">@T["JSON for media."]</span>
</fieldset>
