@model Etch.OrchardCore.Gallery.ViewModels.GalleryPartSettingsViewModel

<fieldset class="form-group">
    <div class="row col-sm">
        <label asp-for="ThumbnailSize">@T["Thumbnail Size"]</label>
        <input asp-for="ThumbnailSize" type="number" class="form-control" />
        <span class="hint">@T["Dimension of thumbnails for images served via the media library."]</span>
    </div>
</fieldset>