@model Etch.OrchardCore.Gallery.Settings.GalleryPartSettings

<fieldset class="form-group">
    <div class="row col-sm">
        <label asp-for="ThumbnailWidth">@T["Thumbnail Width"]</label>
        <input asp-for="ThumbnailWidth" type="number" class="form-control" />
        <span class="hint">@T["Width of thumbnails for images served via the media library."]</span>
    </div>
</fieldset>
<fieldset class="form-group">
    <div class="row col-sm">
        <label asp-for="ThumbnailHeight">@T["Thumbnail Height"]</label>
        <input asp-for="ThumbnailHeight" type="number" class="form-control" />
        <span class="hint">@T["Height of thumbnails for images served via the media library."]</span>
    </div>
</fieldset>